{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<title> Bienvenue dans ma première page ! </title>

	</head>
<body>

	<h1> Hello ! {{ nom }} </h1>

	<p> C'est un grand classique </p>
</body>

</html>
